@tailwind base;
@tailwind components;
@tailwind utilities;



form-user-jffp {
    --body-bg: rgb(31 41 55);
    --body-color: rgb(242 242 242);
    --body-border: none;
    --body-border-radius: 5px;
    --body-padding: 2rem;

    --button-bg: rgb(55, 65, 81);
    --button-color: rgb(242 242 242);
    --button-border: none;

    --button-hover-color: rgb(17 24 39)
}